prefer-no-csd 
blur {
    passes 3 
    offset 3.0 
}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
	skip-at-startup
}



include "binds.kdl"
include "environment.kdl"
include "input.kdl"
include "output.kdl"
include "spawn-at-startup.kdl"
include "stylix.kdl"
include "window-rule.kdl"
