     window-rule {
          match app-id="zen" 
          default-column-width { proportion 1.0; }
      }

      // Apply rounded corners to ALL windows
      window-rule {
          geometry-corner-radius 10
          clip-to-geometry true
          opacity 1.0;
          draw-border-with-background false
      }

      window-rule {
        match app-id="mpv"
        opacity 1.0
        // background-effect {
        //   blur false
        // }
      }

     //BLUR SETTINGS FOR ALL APPS 
      window-rule {
        match app-id="kitty"
        match app-id="fuzzel"
        match app-id="code"
        match app-id="thunar"
        opacity 0.8
        background-effect {
            blur true
        }
      }
